#*
This file allows you to override and define new Velocity variables.
*#

#set ($nav_item_has_child_css_class_a="")
#set ($nav_item_has_child_css_class_span="")
#set ($nav_item_has_child_js_dropdown_li="")
#set ($nav_item_has_child_js_dropdown_a="")
