/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */
.am-topbar-inverse {
    background:#f8f8f8;
    border-color:#76624c;
}

#doc-topbar-collapse-5 ul li a span{
	color:#1d1626;
	font-weight:bold;
}

.am-dropdown-content{
	min-width: 106px;
    text-align: center;
    background: #f8f8f8;
    border: none;
    border-radius: 0;
}

#sign-in {
	background: url(@theme_image_path@/common/key.png) no-repeat 3px 50%;
	font-weight: bold;
	padding: 5px 5px 5px 25px;
	position: absolute;
	right: 0;
}

.footer-poweredby p{
	margin: 0;
	font-weight:900;
	font-size:13px;
	color: #594c6d;
}
	
.footer-poweredby a{
	text-decoration: none;
	color: #594c6d;
	font-weight:900;
}