/* override aui h3 class */
.aui h3{
	line-height: 20px !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.am-header-fixed{
    border-top: 5px solid #208bc5;
    box-shadow: 0px 1px 8px #666    ;
    background-color: #fff;
}

.header-hidden{
    height: 101px;
    width: 100%;
}

.header-container{
    max-width: 1000px;
    margin: 0 auto;
}

.header-logo{
    float: left;
}

.header-logo i{
    font-size: 6rem ;
    color: #208bc5;
}

header li{
    list-style-type: none;
    float: left;
}

header ul {
    float: left;
}

/*register form starts*/
.register-form{
    overflow: hidden;
    width: 880px;
    margin: 50px auto;
    border: 10px solid #f7f7f7;
}

.form-up-left,.form-up-right{
    width: 50%;
    float: left;
}

.register-form .register-must{
	color: #f00;
    display: inline-block;
    padding: 0 5px;
}

.register-from .btn-dis{
	background: #7e7878 none repeat scroll 0 0 !important;
}

.register-form .btn-info{
	background-color: #49afcd;
    background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.register-form .form-item label{
	font-size: 14px;
    text-align: right;
    display: inline-block;
    width: 200px;
    height: 38px;
    line-height: 38px;
    vertical-align: middle;
    margin-left: 80px;
}

.register-form .register-input{
	height: 36px;
    width: 40%;
    display: inline-block;
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.register-form .register{
	width: 307px;
    height: 34px;
    background: #ff0e0e;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    border: 0;
    outline: 0;
    font-weight: bold;
    line-height: 34px;
    cursor: pointer;
    margin-left: 300px;
    margin-bottom: 30px;
}

.register-form .register-instruction{
	background: #f7f7f7 none repeat scroll 0 0;
    border: 1px solid #c8c8c8;
    color: #888;
    display: inline-block;
    font-size: 12px;
    height: 38px;
    line-height: 36px;
    margin-left: 10px;
    padding: 0 10px;
    vertical-align: middle;
    width: 40%;
}

.register-form .register-radios{
    width: 40%;
    display: inline-block;
	height: 36px;
	vertical-align: middle;
}

.register-form .register-radios .am-radio {
    float: left;
    margin: 0;

}
.form-item-block .form-item{
    float: left;
}
.form-item-block{
    overflow: hidden;
}

.form-item{
    width: 100%;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.form-item-password{
    margin-top: 9.1rem;
}

.register-form .cfm-ttl {
    font-size: 18px;
    text-align: center;
    color: #555;
}

.register-form .cfm-ttl-en {
    font-size: 14px;
    text-align: center;
    color: #555;
}

.register-form .cfm-items {
    width: 600px;
    margin: 0 auto;
    font-size: 0;
    text-align: center;
}

.register-form .cfm-item-ttl {
    font-size: 14px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 10px;
    color: #555;
    border-bottom: 1px solid #ddd;
}

.register-form .cfm-item-list {
    width: 100%;
    text-align: center;
}

.register-form .cfm-item-list .cfm-item {
    display: inline-block;
    width: 96px;
    border: 2px solid #fff;
    margin-right: 10px;
    margin-top: 25px;
    margin-left: 10px;
    cursor: pointer;
}

.register-form .cfm-item-list .active {
    border: 2px solid #47bcff;
}

.register-form .cfm-item-list .cfm-item .cfm-item-img{
	width: 96px !important;
	height: 106px !important;
}

.register-form .cfm-item-list .cfm-item h3 {
    font-size: 12px;
    color: #666;
    padding: 10px 0;
}

.register-form .cfm-item-list .active h3 {
    background: #47bcff;
    color: #fff;
}
/*footer started*/
footer{
    background-color: white;
    height: 20vh;
    margin: 50px auto;
    width: 880px;
}

footer ul {
    overflow: hidden;
    padding: 15px 0px;
    border-top: 1px solid #e7e4e4;
    border-bottom: 1px solid #e7e4e4;
}

footer ul li {
    width: 33.33%;
    float: left;
    text-align: center;
}

footer .footer-left, .footer .footer-right {
    width: 200px;
    text-align: center;
}

footer .fl{
	float: left;
}

footer .marginl{
	margin-left: 120px;
}

footer .fr{
	float: right;
}

footer .marginr{
	margin-right: 120px;
}

footer .font-neoter {
    font-family: 'neotericlight';
    font-size: 10px;
}
/*footer end*/
/*register form end*/

/*login form started*/
.login-form{
    overflow: hidden;
    width: 880px;
    margin: 50px auto;
    border: 10px solid #f7f7f7;
}

.login-form .form-item .login-input{
    width: 400px;
    height: 25px;
    margin: 0 auto;
    display: block;
    margin-top: 15px;
    line-height: 25px;
    vertical-align: middle;
    background: url(/glenindiv-register-login-portlet/images/login/user.png) no-repeat 15px 9px;
    background-size: 20px 22px;
    border: 1px solid #dddddd;
    text-indent: 45px;
}

.login-form .form-item .userImg{
	background: url(/glenindiv-register-login-portlet/images/login/user.png) no-repeat 15px 9px;
}

.login-form .form-item .lockImg{
	background: url(/glenindiv-register-login-portlet/images/login/lock.png) no-repeat 15px 9px;
}

.login-form .form-item .login-input-loginbtn {
    width: 414px;
    height: 31px;
    margin: 0 auto;
    display: block;
    margin-top: 25px;
    line-height: 31px;
    background: #bfc7dc;
    border: none;
    color: #fff;
}

.login-form .form-item a.login-register {
    float: left;
    color: #fff;
    background: #333333;
    margin-left: 232px;
    border: 1px solid #333333;
}

.login-form .form-item a.login-a {
    width: 200px;
    height: 25px;
    line-height: 25px;
    display: block;
    text-align: center;
    margin-top: 25px;
    margin-bottom: 100px;
}

.login-form .form-item a.login-forget {
    float: right;
    border: 1px solid #ddd;
    margin-right: 232px;
}