<nav class="$nav_css_class navbar site-navigation" id="navigation" role="navigation">
	<div class="navbar-inner">
		<div class="collapse nav-collapse" id="navbar">
			<ul aria-label="#language ("site-pages")" class="nav nav-collapse nav-menu" role="menubar">
				#foreach ($nav_item in $nav_items)
						#set ($nav_item_attr_selected="")
						#set ($nav_item_attr_has_popup="")
						#set ($nav_item_caret="")
						#set ($nav_item_css_class="lfr-nav-item")
						#set ($nav_item_link_css_class="")

					#if ($nav_item.isSelected())
						#set ($nav_item_attr_selected="aria-selected='true'")
						#set ($nav_item_css_class="$nav_item_css_class selected active")
					#end
					#if ($nav_item.hasChildren())
						#set ($nav_item_attr_has_popup="aria-haspopup='true'")
						#set ($nav_item_caret='<span class="lfr-nav-child-toggle"><i class="icon-caret-down"></i></span>')
						#set ($nav_item_css_class="$nav_item_css_class dropdown")
						#set ($nav_item_link_css_class="dropdown-toggle")
					#end
					<li class="$nav_item_css_class" id="layout_$nav_item.getLayoutId()" $nav_item_attr_selected role="presentation">
						<a aria-labelledby="layout_$nav_item.getLayoutId()" $nav_item_attr_has_popup class="$nav_item_link_css_class" href="$nav_item.getURL()" $nav_item.getTarget() role="menuitem">
							<span>$nav_item.icon() $nav_item.getName() $nav_item_caret</span>
						</a>
						
						<!--
						#if($nav_item.getName()=="预约")
						<ul class="dropdown-menu child-menu" role="menu" id="innerMenu">
							
								
								<div class="inner-Menu">
									<div class="innMenu-left">
											<div class="innMenu-title">
											    <h4>科室列表</h4>
											</div>
										   <div class="innMenu-column">
										    <div class="innMenu-column-item">
										        <ul>
										            <li><a href="#">内科</a></li>
										            <li><a href="#">外科</a></li>
										            <li><a href="#">妇产科</a></li>
										            <li><a href="#">儿科</a></li>
										        </ul>
										    </div>
										    <div class="innMenu-column-item">
										        <ul>
										            <li><a href="#">中医科</a></li>
										            <li><a href="#">皮肤科</a></li>
										            <li><a href="#">骨科</a></li>
										            <li><a href="#">神经科</a></li>
										        </ul>
										    </div>
										</div>
											
								<a class="inner-more" href="#">更多科室 <i class="icon-chevron-right"></i></a>
								</div>
								
								<div class="innerMenu-img">
								    <img src="/glenindiv-demo-theme/images/innerMenu.jpg" alt="">
								</div>
							</div>
							</ul>
							#end 
							-->
											
					</li>
				#end
			</ul>
		</div>
	</div>
	
	
</nav>

<script>
	Liferay.Data.NAV_LIST_SELECTOR = '.navbar-inner .nav-collapse > ul';
	$(document).ready(function(){
     $('#search-btn').bind("click",function(){
          
          if($('#hidval').val()==0){
	          $('#search-container').show("slow",function(){
	             $('#hidval').val(1);
	          })
          }
          else{
             $('#search-container').hide("slow",function(){
                $("#hidval").val(0);
             })
          }

     })

	})
	
	
</script>